In [316]:
import numpy as np
import pandas as pd

In [317]:
data = pd.read_csv('dataset/loans.csv').sample(10)
display(data.sample(10))
display(data.shape)
# grade: 贷款级别
# sub_grade: 贷款细分级别
# short_emp: 一年以内短期雇佣
# emp_length_num:　受雇年限
# home_ownership:居住状态（自有，按揭，租住）
# dti：贷款占收入比例
# purpose:贷款用途
# term:贷款周期
# last_delinq_none:贷款申请人是否有不良记录　
# last_major_derog_none:贷款申请人是否有还款逾期90天以上记录
# reｖol_util：透支额度占信用比例
# total_rec_late_fee:逾期罚款总额
# safe_loans:贷款是否安全

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
13176,B,B3,0,5,RENT,18.91,debt_consolidation,36 months,1,1,50.8,0.000,-1
35494,E,E5,0,8,MORTGAGE,8.43,debt_consolidation,60 months,1,1,64.4,0.000,1
42781,A,A1,0,11,MORTGAGE,8.37,major_purchase,36 months,1,1,9.9,0.000,1
26708,C,C1,0,2,RENT,4.93,major_purchase,36 months,1,1,66.5,0.000,1
45236,C,C1,0,7,RENT,24.00,debt_consolidation,36 months,1,1,64.3,0.000,1
7301,C,C2,0,11,MORTGAGE,16.64,debt_consolidation,60 months,1,1,65.8,0.000,-1
44598,B,B2,0,11,MORTGAGE,19.86,debt_consolidation,36 months,1,1,20.0,0.000,1
15123,F,F1,0,7,RENT,21.72,home_improvement,36 months,0,1,93.9,39.173,-1
25337,B,B4,0,9,MORTGAGE,17.05,debt_consolidation,36 months,0,1,24.6,0.000,1
26208,E,E4,0,3,MORTGAGE,19.90,other,60 months,0,1,72.9,0.000,1

(10, 13)

In [318]:
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict

In [319]:
# 将以上非数值数据映射为数值型。
# 但是我们这里没有解决的一个问题是，每个不同的数都映射为一个数字，那么如果有很多很多小数的话
# 这里就爆炸了。理论上这里应该在网络结构中采用比较数值大小的方式。本例子适用于简单特征01型的决策
y = data.safe_loans
d = defaultdict(LabelEncoder)
X_trans = data.apply(lambda x : d[x.name].fit_transform(x))
y_train = y
display(X_trans.sample(10))
display(len(X_trans))

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
26208,3,6,0,1,0,7,3,1,0,0,8,0,1
7301,2,5,0,6,0,3,0,1,1,0,6,0,0
26708,2,4,0,0,1,0,2,0,1,0,7,0,1
13176,1,2,0,2,1,5,0,0,1,0,3,0,0
42781,0,0,0,6,0,1,2,0,1,0,0,0,1
45236,2,4,0,3,1,9,0,0,1,0,4,0,1
15123,4,8,0,3,1,8,1,0,0,0,9,1,0
44598,1,1,0,6,0,6,0,0,1,0,1,0,1
25337,1,3,0,5,0,4,0,0,0,0,2,0,1
35494,3,7,0,4,0,2,0,1,1,0,5,0,1

10

In [320]:
from collections import  Counter
from tqdm import tqdm

In [331]:

# ************ 计算信息熵 **************
yes = np.asarray(X_trans[X_trans[X_trans.columns[-1]]==1])
no = np.asarray(X_trans[X_trans[X_trans.columns[-1]]==0])
P_yes = len(yes)/len(X_trans)
P_no = len(no)/len(X_trans)
HX = - P_yes*np.log2(P_yes)- P_no*np.log2(P_no)
display("信息熵 = " +str(HX))

# ************ 计算条件熵 **************
# H存放条件熵
Gda = []
# 遍历每一特征列。除了标签列
for i in X_trans.columns[:-1]:
    # 存放条件熵
    Hi = 0
    # 获取当前特征每种情况出现的次数，以便计算每个情况各自的概率
    condProbCollections = Counter(X_trans[i]).items()
    # 每种特征可能有N中情况，累加
    for k in condProbCollections:
        # 获取当前条件X发生的总样本(包含所有列)
        samples_of_current = X_trans[X_trans[i]==k[0]]
        # 获取当前条件X发生的总样本(仅包含当前特征列)
        samples_of_current_features = samples_of_current[i]
        # 获取当前条件X发生下，被判定为安全和不安全的总次数
        total = len(samples_of_current_features)
        # 安全总次数
        k_safe = len(samples_of_current[samples_of_current["safe_loans"]==1])
        # 不安全总次数
        k_unsafe = total - k_safe
        # 计算安全和不安全的概率
        P_k_safe = k_safe/total
        P_k_unsafe = k_unsafe/total
        # 累加条件熵
        log_P_k_safe = 0 if P_k_safe==0 else np.log2(P_k_safe) # 防止出现0值报错
        log_P_k_unsafe = 0 if P_k_unsafe==0 else np.log2(P_k_unsafe)
        Hi +=  - (total/len(X_trans))*(P_k_safe * log_P_k_safe + P_k_unsafe * log_P_k_unsafe)
    # 保存信息增益
    Gda.append({"value":HX - Hi, "feature":i})

print("信息增益为")
print(Gda)

'信息熵 = 0.8812908992306927'

信息增益为
[{'value': 0.33031339879799904, 'feature': 'grade'}, {'value': 0.8812908992306927, 'feature': 'sub_grade'}, {'value': 0.0, 'feature': 'short_emp'}, {'value': 0.40580214901434586, 'feature': 'emp_length_num'}, {'value': 0.09127744624168022, 'feature': 'home_ownership'}, {'value': 0.8812908992306927, 'feature': 'dti'}, {'value': 0.33031339879799904, 'feature': 'purpose'}, {'value': 0.0016177510177042276, 'feature': 'term'}, {'value': 0.0016177510177042276, 'feature': 'last_delinq_none'}, {'value': 0.0, 'feature': 'last_major_derog_none'}, {'value': 0.8812908992306927, 'feature': 'revol_util'}, {'value': 0.19350684337293445, 'feature': 'total_rec_late_fee'}]

In [332]:
# 构建决策树结构。决策树信息存储在JSON字典当中
def create_tree(Gda, node=False):
    # 递归出口
    if len(Gda)==0:
        return node.iloc[:1,-1].values[0]
    # 获取第一个特征列
    feature = Gda[0]['feature']
    # 删除该列，以便递归时不会重复到达这里
    del Gda[0]
    # 获取当前特征每种情况出现的次数，以便计算每个情况各自的概率
    condProbCollections = Counter(X_trans[feature]).items()
    # 定义树字典。必须使用特征feature作为键名
    tree = {feature:{}}
    for [value,counts] in condProbCollections:
        tree[feature][value] = create_tree(Gda, X_trans[X_trans[feature]==value])
    return tree

In [333]:
# 给信息增益从大到小排序
a = np.asarray(Gda)
a = sorted(a,key=lambda value:value["value"], reverse=True)
print(a)


# 创建树
tree = create_tree(a)
tree

[{'value': 0.8812908992306927, 'feature': 'sub_grade'}, {'value': 0.8812908992306927, 'feature': 'dti'}, {'value': 0.8812908992306927, 'feature': 'revol_util'}, {'value': 0.40580214901434586, 'feature': 'emp_length_num'}, {'value': 0.33031339879799904, 'feature': 'grade'}, {'value': 0.33031339879799904, 'feature': 'purpose'}, {'value': 0.19350684337293445, 'feature': 'total_rec_late_fee'}, {'value': 0.09127744624168022, 'feature': 'home_ownership'}, {'value': 0.0016177510177042276, 'feature': 'term'}, {'value': 0.0016177510177042276, 'feature': 'last_delinq_none'}, {'value': 0.0, 'feature': 'short_emp'}, {'value': 0.0, 'feature': 'last_major_derog_none'}]

{'sub_grade': {3: {'dti': {4: {'revol_util': {2: {'emp_length_num': {5: {'grade': {1: {'purpose': {0: {'total_rec_late_fee': {0: {'home_ownership': {0: {'term': {0: {'last_delinq_none': {0: {'short_emp': {0: {'last_major_derog_none': {0: 1}}}},
                    1: 1}},
                  1: 0}},
                1: 1}},
              1: 0}},
            2: 1,
            1: 0,
            3: 1}},
          0: 1,
          2: 1,
          4: 0,
          3: 1}},
        6: 1,
        3: 1,
        1: 1,
        4: 1,
        0: 1,
        2: 0}},
      0: 1,
      4: 1,
      9: 0,
      6: 0,
      8: 1,
      5: 1,
      7: 1,
      3: 0,
      1: 1}},
    1: 1,
    9: 1,
    8: 0,
    3: 0,
    7: 1,
    2: 1,
    0: 1,
    5: 0,
    6: 1}},
  0: 1,
  4: 1,
  8: 0,
  5: 0,
  6: 1,
  7: 1,
  2: 0,
  1: 1}}